#title1 {

margin:0px;
text-align:center;  


color:white;

background-color:rgb(34, 145, 189);
    


font-size: 50px;
padding: 15px;




padding-bottom:40px;

}

body {

    margin:0px;
}

.link-pagine {

    display: inline;
    color: white;
    padding: 8px;
    
}

#tabella-link-pagine {

    text-align: center;
    background-color:rgb(34, 145, 189);
    
    margin: 0px;
    padding-bottom: 20px;
    
}


a {
    
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover { 

    font-size: 25px;
   

}




a:visited {

    color: white;
}


   

}




a:visited { 
    color: white;
} 
